<div class="alert alert-info">{{ fireCBHeading }}</div>
<h4>{{ titleCBHeading }}</h4>
<form
  [formGroup]="itemInfoForm"
  (ngSubmit)="addDetail(itemInfoForm.value)"
  class="col-sm-12 row"
>
  <div class="form-group col-sm-4">
    <label for="name">Enter Name:</label>
    <input
      type="text"
      class="form-control"
      placeholder="Enter Name"
      id="name"
      name="name"
      formControlName="name"
    />
  </div>
  <div class="form-group col-sm-4">
    <label for="title">Enter Title:</label>
    <input
      type="text"
      class="form-control"
      placeholder="Enter Title"
      id="title"
      name="title"
      formControlName="title"
    />
  </div>
  <div class="form-group col-sm-4">
    <label for="price">Enter Price:</label>
    <input
      type="number"
      class="form-control"
      placeholder="Enter Price"
      id="price"
      name="price"
      formControlName="price"
    />
  </div>
  <button type="submit" class="btn btn-info">
    Add Item
  </button>
</form>
<table class="table table-striped">
  <thead>
    <th *ngFor="let header of tableHeader">{{ header }}</th>
  </thead>
  <tbody *ngIf="getItems?.length > 0; else noItems">
    <tr *ngFor="let items of getItems">
      <td>
        <input
          [ngClass]="{ noInput: itemToEdit.id != items.id }"
          type="text"
          [(ngModel)]="items.name"
          [readonly]="itemToEdit.id != items.id"
        />
        <button
          class="btn btn-info update-item"
          (click)="updateItem(items)"
          *ngIf="editState && itemToEdit.id == items.id"
        >
          Update Item
        </button>
        <fa-icon
          [icon]="cancelIcon"
          (click)="cancel()"
          *ngIf="editState && itemToEdit.id == items.id"
          class="cancel-icon"
        ></fa-icon>
      </td>
      <td>
        <input
          type="text"
          [(ngModel)]="items.title"
          [ngClass]="{ noInput: itemToEdit.id != items.id }"
          [readonly]="itemToEdit.id != items.id"
        />
      </td>
      <td>
        <input
          type="text"
          [(ngModel)]="items.price"
          [ngClass]="{ noInput: itemToEdit.id != items.id }"
          [readonly]="itemToEdit.id != items.id"
        />
      </td>
      <td>
        <fa-icon [icon]="editIcon" (click)="editItem(items)"></fa-icon>
        <fa-icon [icon]="deleteIcon" (click)="removeItem(items)"></fa-icon>
      </td>
    </tr>
  </tbody>
</table>
<ng-template #noItems>
  <div class="text-center">There are no items to list.</div>
</ng-template>
