<div class="alert alert-info">{{ firebaseHeading }}</div>
<h4>{{ titleHeading }}</h4>
<form
  [formGroup]="coursesInfoForm"
  (ngSubmit)="addDetail(coursesInfoForm.value)"
  class="col-sm-12 row"
>
  <div class="form-group col-sm-4">
    <label for="name">Enter Name:</label>
    <input
      type="text"
      class="form-control"
      placeholder="Enter Name"
      id="name"
      name="name"
      formControlName="name"
    />
  </div>
  <div class="form-group col-sm-4">
    <label for="title">Enter Title:</label>
    <input
      type="text"
      class="form-control"
      placeholder="Enter Title"
      id="title"
      name="title"
      formControlName="title"
    />
  </div>
  <div class="form-group col-sm-4">
    <label for="price">Enter Price:</label>
    <input
      type="number"
      class="form-control"
      placeholder="Enter Price"
      id="price"
      name="price"
      formControlName="price"
    />
  </div>
  <button type="submit" class="btn btn-info">
    Add Item
  </button>
</form>
<table class="table table-striped table-hover">
  <thead>
    <th>Name</th>
    <th>Title</th>
    <th>Price</th>
    <th>Update</th>
  </thead>
  <tbody *ngIf="getCourses?.length > 0; else noItems">
    <tr *ngFor="let course of getCourses">
      <td>
        <input
          [ngClass]="{ noInput: courseToEdit.id != course.id }"
          type="text"
          [(ngModel)]="course.payload.courseinfo.name"
          [readonly]="courseToEdit.id != course.id"
        />
        <button
          class="btn btn-info update-item"
          (click)="updateCourse(course)"
          *ngIf="editState && courseToEdit.id == course.id"
        >
          Update Item
        </button>
        <fa-icon
          [icon]="cancelIcon"
          (click)="cancel()"
          *ngIf="editState && courseToEdit.id == course.id"
          class="cancel-icon"
        ></fa-icon>
      </td>
      <td>
        <input
          [ngClass]="{ noInput: courseToEdit.id != course.id }"
          type="text"
          [(ngModel)]="course.payload.courseinfo.title"
          [readonly]="courseToEdit.id != course.id"
        />
      </td>
      <td>
        <input
          [ngClass]="{ noInput: courseToEdit.id != course.id }"
          type="text"
          [(ngModel)]="course.payload.courseinfo.price"
          [readonly]="courseToEdit.id != course.id"
        />
      </td>
      <td>
        <fa-icon [icon]="editIcon" (click)="editCourse(course)"></fa-icon>
        <fa-icon
          [icon]="deleteIcon"
          (click)="removeDetail($event, course)"
        ></fa-icon>
      </td>
    </tr>
  </tbody>
</table>
<ng-template #noItems>
  <div class="text-center">There are no items to list.</div>
</ng-template>
